:root {
    --font-family: 'Quicksand', sans-serif;

    --heading-color: hsl(25, 75%, 45%);
    --heading-color-secondary: hsl(35, 85%, 60%);

    /* Header styles */
    --header-background: #fafafa;
    --header-color: #fafafa;

    /* Footer styles */
    --footer-background: #1f1f1f;
    --footer-color: #fafafa;

    /* Button Styles */
    --button-background: #c1853b;
    --button-color: #FFFFFF;
    --button-background-hover: #a96c2a;
    --button-border-radius: 0.25rem;

    /* link styles */
    --link-color: #cc1b1b;
    --link-color-hover: #85311b;

    view-transition-name: root;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family);

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100dvh;
    font-weight: 500;
}

main {
    padding-top: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

h5 {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

h6 {
    font-size: clamp(0.875rem, 1vw, 1rem);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


button,
a[role="button"],
a.button {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid var(--button-background);
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    color: var(--button-color);

    &:hover,
    &:focus {
        background: var(--button-background-hover);
        color: var(--button-color);
        text-decoration: none;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--link-color-hover);
        text-decoration: underline;
    }
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/* View Transition Styles */
@view-transition {
    navigation: auto;
}

html::view-transition {
    animation-duration: 0.3s;
}

::view-transition-old(root) {
    opacity: 1;
}

::view-transition-new(root) {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* View Transition Styles */