:root {
    --font-family: 'Quicksand', sans-serif;

    --primary: hsl(15, 100%, 72%);
    --secondary: hsl(357, 100%, 70%);

    --interactive: hsl(359, 87%, 15%);
    --interactive-hover: hsl(359, 87%, 30%);

    --heading-color: var(--primary);
    --heading-color-secondary: var(--secondary);

    /* Footer styles */
    --footer-background: #1f1f1f;
    --footer-color: #fafafa;

    /* Button Styles */
    --button-background: var(--interactive);
    --button-color: #FFFFFF;
    --button-background-hover: var(--interactive-hover);
    --button-border-radius: 0.25rem;

    /* link styles */
    --link-color: var(--interactive);
    --link-color-hover: var(--interactive-hover);
    --transition: all 0.3s ease-out;

    /* View Transition */
    view-transition-name: root;

    /* Header styles */
    --header-background: #fafafa;
    --header-color: #fafafa;
    --header-height: 105px;

    @media screen and (min-width: 768px) {
        --header-height: 150px;
    }

    @supports (interpolate-size: allow-keywords) {
        interpolate-size: allow-keywords;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family);

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100dvh;
    font-weight: 500;
}

body:not(.homepage) main {
    padding-top: var(--header-height);
    background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

h5 {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

h6 {
    font-size: clamp(0.875rem, 1vw, 1rem);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

details {
    transition: var(--transition);

    summary {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--interactive);
        cursor: pointer;
        outline: none;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover,
        &:focus {
            color: var(--interactive-hover);
        }

        &::marker {
            content: "";
            justify-self: end;
        }

        &::after {
            content: "\f078";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            transition: var(--transition);
        }
    }

    &[open] {
        summary {

            &::after {
                transform: rotate(-180deg);
            }
        }
    }
}

::details-content {
    transition: var(--transition);
    height: 0;
    overflow: clip;
    content-visibility: visible;
}

[open]::details-content {
    height: auto;
}

button,
a[role="button"],
a.button {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid var(--button-background);
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    color: var(--button-color);
    transition: var(--transition);

    &:hover,
    &:focus {
        background: var(--button-background-hover);
        border-color: var(--button-background-hover);
        color: var(--button-color);
        text-decoration: none;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: var(--transition);

    &:hover,
    &:focus {
        color: var(--link-color-hover);
        text-decoration: underline;
    }
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/* View Transition Styles */
@view-transition {
    navigation: auto;
}

html::view-transition {
    animation-duration: 0.3s;
}

::view-transition-old(root) {
    opacity: 1;
}

::view-transition-new(root) {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* View Transition Styles */